/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* {
  box-sizing: border-box;
}

body {
	/* background-color: black; */
	min-height: 100vh;
	position: relative;
	/* border: 1px solid red; */
	width: 100vw;

}

#footer {
	position: absolute;
	height: 50px;
	width: 100vw;
	bottom: 0;
	display: flex;
	/* border: 1px solid red; */
}

.myCard {
	background-image: url("./assets/bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	/* background-blend-mode: overlay; */
	position: relative;
}

.myCard::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.26);
	filter: blur(5px);
	/* background-color: aqua;
	border: 1px solid red; */
}
@supports (backdrop-filter: blur(8px)) {
	.myCard::before {
		backdrop-filter: blur(8px);
	}
}